body {
    margin: 0;
    padding: 0;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
}
.icon {
    width: 25px;
    height: 25px;
    
}
header {
    background-color:rgb(128, 0, 19);
    
}
.header-title {
    display:flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    height: 70px;
    
   
   
}  
span{
    color: white;
    padding: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}
.clearfix {
     clear: both;
}
.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav ul>li {
    display: flex;
    flex-direction: row;
   
}
.nav ul>li a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    color: white;
}
.nav ul>li a:hover{
    
    color: blue;
}

hr{
    width: 50%;
    text-align: center;
    border:bold black;
}
.section-title {
    margin: 0;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -20px;
    color: rgb(128, 0, 19);
    align-items: center;

}
.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.container.column  ul>li img
{
    width: 250px;
    height: 400px;
    border: solid gainsboro;
    border-radius:16px;
}
    

p
{
    text-align: center;
    color: rgb(128, 0, 19);
    
}
.photo img:hover{  
    transform: scale(1.2); 
} 
.photo li>a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.container.column {
    flex-direction: column;
    padding: 0;
}
footer {
    background-color:rgb(128, 0, 19);
    height:250px;
}
.left {
    color: white;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}
.left p{
    text-indent: 2em;
    font-size: 15px;
    font-family: serif;
  
    color: white;
    text-align:justify;
}
.right {
    display:flex;
    flex: 1;
    align-items: center;
    margin-left: 15%;
}
.right img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 20px;
    margin-left: 100px;
}
.bottom {
    text-align: center;
    font-size: 15px;
    color: white;
  position: relative;
  top: 55px;
}





    